<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products Index Page</title>
</head>
<style>

</style>
<body>


<h1>Products List</h1>

<div th:each="product : ${products}"  >

<!--IF YOU WANT TO ONLY RETURN EVERYTHING LESS THAN 100 ON PAGE-->
<!--    <div th:each="product : ${products}" th:if="${product.costInCents < 100}">-->

  <h3 th:text="${products.name}"></h3>
  <h3>Cost in cents: <span th:text="${products.costInCents}"></span> </h3>
</div>
<br>

</body>
</html>